.dark .content__default code {
  background-color: rgba(57, 197, 187, 1);
}
.page {
  transform: unset !important;
  overflow: visible !important;
}
.page-title {
  display: none
}
.language-vue {
  border-radius: 0 !important;
}

.el-table__expand-icon>.el-icon {
  margin-top: -5px !important;
}
.el-table tr {
  background-color: #fff !important;
}

.content {
  margin: 0 !important;
  padding: 0 !important;
}