@import "./crud.scss";
@import "./group.scss";
@import "./form.scss";
@import "./dialog.scss";
@import "./button.scss";
@import "./tabs.scss";
@import "./verifyInput.scss";
@import "./lazyRender.scss";
@import "./batchMockDialog.scss";

:root {
  --color-text-regular: #606266;
  --border-color-lighter: #ebeef5;
  --background-color-base: #fafafa;
  --color-primary: #409eff;
  --color-primary-light-9: #ecf5ff;
  --color-primary-light-7: #d9ecff;
  --color-white: #ffffff;
  --color-danger: #f56c6c;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-info: #909399;

  // 文字颜色
  --color-text-primary: #303133;
  --color-text-secondary: #909399;
  --color-text-placeholder: #c0c4cc;

  // 边框颜色
  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;

  // 背景颜色
  --background-color-light: #f5f7fa;
}
.sc-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-text-regular);
  padding: 10px 0;
}
.sc-title::before {
  content: "";
  width: 5px;
  height: 18px;
  margin-right: 8px;
  border-radius: 2px;
  background: var(--color-primary);
}

.sc-default-formatter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-text-regular);
}
.sc-render-left,
.sc-render-right {
  display: inline-flex;
  align-items: center;
}

.sc-over-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sc-position {
  display: grid;
  .top {
    grid-area: top;
    display: flex;
    align-items: center;
  }
  .left {
    grid-area: left;
    display: flex;
    align-items: center;
  }
  .content {
    grid-area: content;
  }
  .right {
    grid-area: right;
    display: flex;
    align-items: center;
  }
  .bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
  }
}
