.sc-tabs {
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .rotating {
    animation: rotate 0.45s linear infinite;
  }
  .fade-transform--move,
  .fade-transform-leave-active,
  .fade-transform-enter-active {
    transition: all 0.3s;
  }

  .fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
  }

  .fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
  .el-tabs__nav-wrap::after {
    height: 1px;
  }
}
.sc-tabs__border {
  .el-tabs__header {
    margin-bottom: 0;
  }
  .el-tabs--card > .el-tabs__header {
    border-bottom: none;
  }
  .sc-tabs__content {
    overflow: hidden;
    border: 1px solid #dfe4ed;
    border-radius: 0 4px 4px 4px;
    padding: 20px;
  }
  .sc-tabs__is-refresh {
    border: none;
  }
}
